.App {
  text-align: right;
  margin-right: 5px;
  font-size: 10px;
}

.App-logo {
  height: 140px;
  position: fixed;
  top: 40px;
  left: 870px;
}


.error-message {
  font-size: 14px;
  color: red;
  text-align: right;
  margin-right: 600px;
  margin-bottom: 20px;
}

@keyframes App-logo-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce 5s infinite;
  }
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.back-button {
  margin-left: auto;
  margin-right: 10px;
  font-size: 25px;
  background-color: transparent;
  border-color: white;
  color: white;
  height: 60px;
  width: 110px;
}

.back-button:hover {
  background-color: #c7b94c;
  border-color: #c7b94c;
  color:black;
}

.next-button {
    margin-left: auto;
    margin-right: 600px;
    font-size: 25px;
    background-color: transparent;
    border-color: white;
    color: white;
    height: 60px;
    width: 110px;
}

.next-button:hover {
  background-color: #c7b94c;
  border-color: #c7b94c;
  color:black;
}

@keyframes switchColor {
  0% {
    color: #c7b94c; /* Primary color */
  }
  100% {
    color: #afc782; /* Secondary color */
  }
}

.header-animated-text {
  animation: switchColor 2s infinite alternate; 
  font-size: 2em; 
  margin-bottom: 50px; 
  margin-top: 70px;
  text-align: left;
}

.header2-animated-text {
  animation: switchColor 2s infinite alternate;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: left;
}

.animated-text {
  animation: switchColor 2s infinite alternate;
  font-size: 0.8em;
  margin-bottom: 20px;
  text-align: left;
}

.animated-text::after {
  content: '\00a0'; /* Add Space After The Animated Text */
}

.animated-text1 {
  animation: switchColor 2s infinite alternate;
  font-size: 0.8em;
  margin-bottom: 15px;
  text-align: left;
  margin-right: 900px;
}

.criminal-text {
  animation: switchColor 2s infinite alternate;
  font-size: 0.8em;
  margin-bottom: 20px;
  text-align: left;
  margin-right: 10px;
}

.option-text {
  animation: switchColor 2s infinite alternate;
  font-size: 0.8em;
  margin-bottom: 20px;
  text-align: left;
  margin-right: 650px;
}

.drop-down {
  background: transparent;
  color: white;
  border: 1px solid white;
  text-align: left;
}

.elementsFormat {
  color: white;
  border-color: transparent;
  border-style: solid;
}

.formik-input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 4px;
  margin-right: 600px;
}

.select-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
