.App {
  text-align: center;
}

.App-logo {
  height: 600px;
  position: absolute;
  top: -200px;
  left: -60px;
}


.error-message {
  font-size: 14px;
  color: red;
}

@keyframes App-logo-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce 5s infinite;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.next-button {
    margin-left: auto;
}

@keyframes switchColor {
  0% {
    color: #1976d2; /* Primary color */
  }
  100% {
    color: #e91e63; /* Secondary color */
  }
}

.animated-text {
  animation: switchColor 2s infinite alternate; /* Change 2s to the desired duration */
  font-size: 1.5em; /* Adjust the size as needed */
  margin-bottom: 20px; /* Spacing between text and buttons */
}



